@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #413636;
	font-size: 16px;
	font-family: vdl-gigajr, sans-serif;
	font-style: normal;
	font-weight: 500;	
}

p,h,h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	color: #000000;
}
img{
	vertical-align:bottom;
}

ul{
	margin: 0;
	padding: 0;
}

a{
	color: #000000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
・
header{
	width: 100vw;
	height:80px;
	margin: 0 auto;
	background-color: #ffffff;
	margin-bottom: 0;
	position:fixed;
}
.logo{
	float: left;
	margin-top: 0px;
	margin-left: 3%;
	background-image: url("../images/cherry.png");
	background-position: 80% 0%;
	background-size: 80px;
	background-repeat: no-repeat;
}
@media screen and (max-width:599px){
	.logo{
		margin:0 30%;
		width: 200px;
		background-size: 30px;
		background-position: 100% 0%;
	}
}
.logo a{
	text-decoration: none;
	line-height: 30px;
	font-size: 16px;
	color:#000000;
}
/*ロゴの改行をなしに*/
@media screen and (max-width:599px){
	.logo br{
		display:none;
	}
}

.logo:hover{
	background-color: #FFC3C4;
	background-color: rgba(255,216,216,0.5);
}
#wrap{
	margin:0 auto;
	clear:both;
}
.content{
	margin:0 auto;
	width:100vw;
}
/*
グローバルナビ始まり
*/
.global-nav{
	float: right;
	margin-top: 2%;
	margin-right: 3%;
}
@media screen and (max-width:599px){
	.global-nav{
		clear:both;
		width: 100vw;
		background-color:#C5C6FF;
		margin:0;
	}
}
.global-nav li{
	float: left;
	margin: 0 5px;
	list-style: none;
	font-family: vdl-gigajr, sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: center;
}
@media screen and (max-width:599px){
	.global-nav li{
		width: 25%;
		margin:0;
		font-size:14px;	
	}
}
.global-nav li a:hover{
	background-color: #FFC3C4;
	background-color: rgba(255,216,216,0.7);
	text-decoration: none;
}


/*フッター*/
.footerFixed{
	min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 40px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
footer{
	text-align: center;
	color: #413636;
	padding: 20px 0;
	background-color: #353131;
	margin-top: 100px;
	width:100vw;
	display:block;
	position: absolute;/* ←絶対位置 */
    bottom: 0;
}

footer small{
	font-size: 12px;
	color: #ffffff;
}
/*ーーーーーー戻るボタン始まりーーーー*/
html{
    scroll-behavior: smooth;
}
.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
	border-radius: 30px;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 30%;
    height: 30%;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
	transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
@media(max-width:750px){
    .gotop{
        width: 40px;
        height: 40px;
        opacity: 0.8;
		text-indent: -9999px;
        border: none;
        bottom: 10px;
        right: 10px;
    }
    .gotop::before{
        bottom: 0;
    }
}
/*ーーーーーー戻るボタン終わりーーーー*/
.top-image{
	width: 100vw;
	margin:0;
	padding:0;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

/*「このブログは」始まり*/
.whatisblog{
	width: 100vw;
	margin: 50px auto;
	height: 600px;
	background-image:url(../images/cherry.png);
	background-color: rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position:center;
	font-family: source-han-sans-japanese,sans-serif;
	font-style: normal;
	text-align:center;
}
@media screen and (max-width:599px){
	.whatisblog{
		width:100vw;
		word-wrap: keep-all;
		text-align:left;
		height:auto;
		margin:30px 0;
		background-size: 80%;
	}
}

.whatisblog h1{
	font-size: 30px;
	margin:0;
	padding:100px 0 120px 0;
}
@media screen and (max-width:599px){
	.whatisblog h1{
		padding:0 0 100px 0;
	}
}
.whatisblog p{
	font-size: 16px;
	text-shadow: 0px 1px 1px #000;
	color:#fff;
	padding:10px;
}
@media screen and (max-width:599px){
	.whatisblog p{
		text-shadow: none;
		background-color: rgba(0, 0, 0, 0.2);
		margin:10px;
		display:inline-block;
	}
}
/*ここからリスト*/
.list{
	margin:0 auto;
	padding:100px 20px;
	width:80%;
	background-color: #F9ABC3;
	text-align:center;
	display: flex;
	justify-content:space-around;
}
.list-two{
	background-color: #fff;
}

@media screen and (max-width:599px){
	.list{
		width:100vw;
		display:block;
		padding:60px 0;
	}
}

.list h1{
	text-align: center;
	margin-top: 30px;
	padding: 0;
	font-size: 25px;
}


/*ここからブログ一覧のエリア*/
.area{
	background-color: #AE648F;
	width: 430px;
	height: 650px;
	border-radius: 40px;
	background-image:url("../images/purin_foto.png"),url(../images/pafe.png);
	background-repeat: no-repeat;
	background-position: 250px 30px,-80px 450px;
	background-size: 70%;
	border: 1px solid;

}
@media screen and (max-width:599px){
	.area{
		clear:both;
		width: 80%;
		margin-left:10%;
		margin-bottom:30px;
	}
}

.area p{
	font-size: 16px;
}

/*テーブルの中身*/
.area table{
	width: 100%;
	margin: 60px auto 0 ;
	border-spacing: 4px 20px;
}
.content a{
	text-decoration: none;
	color: #000000;
}
.area th{
	height: 50px;
	font-size: 14px;
	background-color: #FFFFFF;
	border: 1px solid #180202;
	border-radius: 30px 0 0 30px;
	transition: backgroundcolor .25s;
	padding-left: 10px;
}
.area th:hover{
	background-color: #FFE8F5;
}
.area td{
	font-size: 14px;
	text-align: center;
	border: 1px solid #180202;
	background-color: #ffffff;
	border-radius: 0 30px 30px 0;
}

/*ブログ記事一覧のエリア*/

.blog{
	background-color: #ffffff;
	width: 430px;
	height: 650px;
	text-align: center;
	border: 1px solid;
	border-radius: 40px;
	position:relative;
}

@media screen and (max-width:599px){
	.blog{clear:both;
		width: 80%;
		margin-left:10%;}
}
.blog h1{
	margin-bottom:0;
}
.blog img{
	display: block;
	clear: both;
	margin: auto;
	margin-top:40px;
	border: 1px solid;
	width: 70%;
}
.blog img:hover{
	transform:translateY(-10px);
	transition-duration:.3s;
}
.blog h3{
	font-size: 16px;
	padding: 0px 5px;
	margin-bottom:5px;
	margin-top: 2px;
	font-family:source-han-sans-japanese,sans-serif;
}
.blog p{
	font-size: 16px;
	float:right;
	margin:0;
	margin-right:30px;
	border:1px solid;
}
.blog .btn{
	padding:5px 20px;
	position:absolute;
	top:97%;
	left:80%;
}
/*特集記事と週間ランキングのセクション始まり*/

/*特殊記事始まり*/
.feature{
	width: 470px;
	text-align: center;
}
@media screen and (max-width:599px){
	.feature{
		width: 80%;
		margin-left:10%;
		clear:both;
		content:"";
		display: block;
		background:#C5C6FF;
		margin-bottom:25px;
	}
}

.feature h1{
	font-size: 60px;
	text-align: center;
	padding: 0px;
	margin-bottom: 20px;
	font-family: source-han-sans-japanese,sans-serif;
    color: #F0809E;
    text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}
@media screen and (max-width:599px){
	.feature h1{
		color: #C796FF;}
}
.feature p{
	font-size: 18px;
	padding: 7px 0;
	margin: 30px 50px 0px;
	background-color: #F4ACAD;
	color:#000000;
}
@media screen and (max-width:599px){
	.feature p{
		background-color: #FFCCF4;}
}
.feature img{
	padding:10px;
	margin: 10px auto 0;
	height: 200px;
	display:block;
}
.feature img:hover{
	transform: translateY(-5px);
	transition-duration: .5s;
	
}
.feature .btn{
	margin-left:55%;
	margin-top:5%;
	padding:5px 20px;
}

/*週間ランキング始まり*/
.ranking{
	width: 450px;
	margin-left: 38px;
	background-color: #f999b7;
	border-radius: 30px 0 0 30px;
}
@media screen and (max-width:599px){
	.ranking{
		clear:both;
		width: 80%;
		margin-left:10%;
		padding-bottom:20px;
		}
}

/*週間ランキング見出し*/
.ranking h1{
	text-align: center;
	font-size: 20px;
	margin:0;
	padding-top:20px;
	color: #ffffff;
}
/*1.2.3*/
.ranking h2{
	font-family: source-han-sans-japanese,sans-serif;
    color: white;
	margin: 0 20px;
	font-size: 80px;
	border: none;
    text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}
@media screen and (max-width:599px){
	.ranking h2{
		margin:3%;
	}
}
.ranking img{
	border: 1px solid;
	width: 70%;
}
/*王城ー上野(2022/5/1)*/
.ranking p{
	background-color: #ffffff;
	font-size: 16px;
	clear: both;
	text-align: center;
	margin:10px 79px 0;
}

.flex{
	margin-top: 30px;
	display:flex;
}

/*★★ーーーーー都心６区ここから★★ーーー----------------------ー*/
.area-bar{
	margin-top:5px;
}
.area-bar ul{
	width:100vw;
	background-color: #EEDBFD;
	margin-top:5px;
	display:flex;
}
.area-bar li{
	float:left;
	list-style:none;
	border-right:1px solid #fff;
	font-size:14px;
	padding:0.3em 0.7em;
}
.area-bar-caption{
	padding:0 10px;
	font-size:14px;
	background-color:#C5C6FF;
}

@media screen and (max-width:599px){
	.area-bar{
		visiblity:visible;
		}
}
@media screen and (min-width:599px){
	.area-bar{
		display:none;
		}
}
/*エリアメインスタート*/
.areamain{
	border: 1px solid;
	width: 77%;
	float: left;
	margin-top:50px;
	margin-left:3%;
	box-sizing:border-box;
	padding:3%;
	
}
@media screen and (max-width:599px){
	.areamain{
		margin-left:0;
		width:100vw;
	}
}
.areamain img{
	border: 1px solid #000000;
	margin-top: 20px;
	width: 75%;
	height:250px;
}

/*都心６区エリアの文字設定*/
.areamain h1,h2{
	font-family: source-han-sans-japanese,sans-serif;
    color: #ffffff;
	font-size: 30px;
	padding: 0;
	margin: 0;
    text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}
.areamain h1{
	margin-top:3%;
}
.areamain h2{
	font-size: 70px;
}
.areamain h3{
	font-size:  16px;
	margin: 5px 0px 0px 40px;
	text-align: left;
}

.box p{
	font-size: 14px;
	margin: 5px 0 0 0px;
	text-align: left;
	padding-left: 40px;
}

/*都心６区の基本設定*/
.ku{
	border: 1px solid;
	text-align: center;
	margin: 50px auto 100px;
	padding-bottom:60px;
	clear: both;
}
@media screen and (max-width:599px){
	.ku{
		width:100%;}
}

.boxarea{
	display:flex;
	flex-wrap: wrap;
}
@media screen and (max-width:599px){
	.boxarea{
		width:100%;}
}
/*全てのエリアボックス設定*/
.box{
	width: 265px;
	height:400px;
	float:left;
	margin-left: 55px;
	margin-top: 30px;
	border: 1px solid;
	background-color: #F8F8F4;
}

.box:hover{
	transform: translateY(-5px);
	transition-duration: .5s;
	
}

/*---------------ボタン始まり-------------------*/
.btn{
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	display: inline-block;
	padding: 0 15px;
	border-radius: 20px;
	border: 1px solid;
	text-align: center;
}
.btn:hover{
	transition: background-color .25s;
	background-color: #B4B4B4;

}
#area .btn{
	margin-right: 120px;
	margin-top:10px;
}
#area .btn:hover{
	background-color: #ABD9D0;
}
#east_area .btn:hover{
	background-color: #DC8D5D;
}
#south_area .btn:hover{
	background-color: #C8D96E;
}
#north_area .btn:hover{
	background-color: #9A6868;
}
#west_area .btn:hover{
	background-color: #B299D9;
}
.area .btn{
	margin-right: 110px;
}
/*---------------ボタン終わり-------------------*/
/*ーーーーーーーーーエリアごとの背景カラーーーーーーーーーー*/
#area .ku{
	background: #D6FFF7;
}
#north_area .ku{
	background: #B28A8A;
}
#west_area .ku{
	background: #d2bbf6;
}
#east_area .ku{
	background: #FFC6A3;
}
#south_area .ku{
	background: #F5FFBF;
}
/*スマホではエリアのサイドバーは表示しない*/
@media screen and (max-width:599px){
	#area .sidebar, #east_area .sidebar, 
	#south_area .sidebar, #north_area .sidebar, 
	#west_area .sidebar{
		display: none;
	}
}
/*ーーー★★kissaten.html始まり★★ーーー*/

.leftcontent{
	width: 60%;
	height: 1050px;
	background-color: #E3E4FF;
	text-align: center;
	float: left;
	margin: 50px 10%;
	box-sizing:border-box;
}
@media screen and (max-width:599px){
	.leftcontent{
		width:100vw;
		margin:0;
		padding-bottom:50px;
	}
}
.leftcontent h2,p{
	text-shadow: none;
	color: #7F7F7F;
	margin: 0;
	font-family: source-han-sans-japanese,sans-serif;
}
.leftcontent h1{
	font-family: source-han-sans-japanese,sans-serif;
	font-size: 35px;
    color: #7F7F7F;
	padding-top: 40px;
	display: inline-block;
}
.leftcontent h2{
	margin-bottom: 10px;
	font-size: 20px;
}
.leftcontent p{
	font-size: 16px;
	margin: 30px 15%;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 3%;
    font-weight: 400;
}

.leftcontent img{
	max-width: 50%;
	height:350px;
}
/*喫茶店の説明初め*/
.version{
	width: 80%;
	height: 300px;
	background-color: #ffffff;
	border-radius: 20px;
	margin: 30px auto 0;
}
@media screen and (max-width:599px){
	.version{
		width:90vw;
	}
}
.version img{
	height: 200px;
	float: left;
	display: block;
	margin: 50px; 
	border-radius: 20px;
	border: 3px solid;
}
@media screen and (max-width:599px){
	.version img{
		margin:30px;
	}
}
.version h3{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
	padding-top: 45px;
	border: none;
}
@media screen and (max-width:599px){
	.version h3{
		margin:0;
		padding-top:10px;
	}
}
.version p{
	text-align: left;
	border: none;
	border-radius: 0;
	padding: 5px;
	margin: 0;
}

@media screen and (max-width:599px){
	.version p{
		font-size:14px;
		margin:0px;
	}
}

/*ーーー★★プロフィールページの始まり★★ーーー*/
.profile{
	height: 500px;
	width: 100vw;
	text-align: center;
	font-family: source-han-sans-japanese,sans-serif;
	margin:0 auto;
}
@media screen and (max-width:599px){
	.profile{
		width:100vw;
	}
}

.profile h1{
	font-size: 35px;
	margin-bottom: 0;
}
@media screen and (max-width:599px){
	.profile h1{
		margin-top:50px;
	}
}
.profile img{
	height: 300px;
}
.profile p{
	font-size: 16px;
	text-align: center;
	line-height: 28px;
}

.profiletext{
	text-align: center;
	clear: both;
	padding-top: 30px;
	padding-bottom: 0px;
}
.profiletext p{
	font-size: 16px;
	margin-top:10px;
	padding: 0;
	font-family: source-han-sans-japanese,sans-serif;
    font-weight: 400;
}
@media screen and (max-width:599px){
	.profiletext p{
		font-size:15px;
	}
}
/*SNS始まり*/
.sns-area{
	width:100vw;
	display:flex;
	justify-content: space-between;
	margin-bottom:100px;
	padding:2%;
	box-sizing:border-box;
}
.sns h1{
	text-align: center;
	border: 1px solid;
	background-color: rgba(21,138,26,0.6);
	color: aliceblue;
	margin: 50px 0 100px;
}
.sns h2{
	font-size:40px;
	text-align:center;
	margin-bottom:10px;
}
.snsmedia{
	width:30%;
	border:1px solid;
}
.snsmedia img{
	width:100%;
	text-align:center;
	margin:0;
	border-top:1px solid;
}
@media screen and (max-width:599px){
	.sns-area{
		display:block;
	}
	.snsmedia{
		width:80%;
		margin:20px auto;
	}
}
/*ーーー★★特集ページの始まり★★ーーー*/

#tokusyu .content{
	background-color: #FF8082;
	padding-bottom:100px;
	width:100vw;
}

.top img{
	width:70%;
	margin-left:15%;
}
@media screen and (max-width:599px){
	.top img{
		width:100%;
		margin:50px auto 0;
	}
}
#tokusyu h1{
	text-align: center;
	margin-top: 100px;
	margin-bottom:100px;
	color: #ffffff;
}
.article{
	display:flex;
	justify-content:space-around;
	margin-bottom:120px;
}
@media screen and (max-width:599px){
	.article{
		display:block;
	}
}
.article_box{
	position:relative;
}
@media screen and (max-width:599px){
	.article_box{
		margin:0 auto 120px;
	}
}
.article img{
	width:300px;
	border:15px solid #fff;
	margin: 0 40px;
}
.article img:hover{
	transform: translateY(-10px);
	transition-suration: .5s;
}
@media screen and (max-width:599px){
	.article img{
		text-align:center;
	}
}
#tokusyu .btn{
	display: block;
	position: absolute;
	top: 95%;
	left: 70%;
}
@media screen and (max-width:599px){
	#tokusyu .btn{
		top:97%;
		left:60%;
	}
}

/*ーーー★オールブログの始まり★ーーー*/
.allblog{
	width:100vw;
}
.allblog img{
	border: 1px solid;
	width:90vw;
	display:block;
	margin:0 auto;
}
.blogcontent{
	width:100vw;
	display:flex;
	justify-content: center;
}
@media screen and (max-width:599px){
	.blogcontent{
		display:block;
	}
}
.blogcontent p{
	font-size: 14px;
	font-family: source-han-sans-japanese,sans-serif;
}

.allblog_box{
	margin: 100px 50px;
	width: 265px;
	height:300px;
	float:left;
	border: 1px solid;
	padding: 15px;
	background-color: #F8F8F4;
}
@media screen and (max-width:599px){
	.allblog_box{
		margin:20px auto;
		float:none;
	}
}
.allblog_box img{
	width: 100%;
	margin:0;
}
.allblog_box:hover{
	transform: translateY(-10px);
	transition-duration: .5s;
}
#allblog .btn{
	margin-top: 5px;
	margin-left: 180px;
	background-color: #ffffff;
}
.blogcontent .btn:hover{
	transition: background-color .25s;
	background-color: #B4B4B4;
}
/*ーーー★ブログの始まり★ーーー*/
.blogmain{
	background-color: #FFE6E7;
	width: 60%;
	border: 1px solid;
	float: left;
	font-family: source-han-sans-japanese,sans-serif;
	padding: 10px;
	margin:50px 5%;
} 
@media screen and (max-width:599px){
	.blogmain{
		width:100vw;
		float:none;
		padding:10px 0;
		border:none;
	}
}
@media screen and (max-width:599px){
	#blog{
		width:100vw;
	}
}
.blogmain h1{
	font-size: 30px;
	margin: 20px 30px;
	background-color: #ffffff;
	padding:5px;
}
@media screen and (max-width:599px){
	.blogmain h1{
		text-align:center;
	}
}
.blogmain h2{
	font-size: 18px;
	margin: 50px 20px 0;
	color:#fff;
	background:linear-gradient(transparent 70%, #ffffff 0%);
	display: inline-block;
	
}
.blogmain h3{
	font-size: 18px;
	margin: 50px 20px 0;
	border-left: 10px solid #CA2547;
	padding-left: 10px;
}
.blogmain p{
	font-size: 16px;
	margin: 30px 20px;
}
.blogmain img{
	display: block;
	width: 100%;
	margin: 20px auto 0 ;
}


/*ーーーサイドバー始まりーーー*/
.sidebar{
	width: 20%;
	float: right;
	padding-left:2%;
	box-sizing:border-box;
	margin:50px 0;
}
@media screen and (max-width:599px){
	.sidebar{
		display:none;
	}
}

.sideprofile{
	text-align: center;
	border: 1px solid;
	padding: 5px;
	font-family:sans-serif;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.sideprofile:hover{
	background-color: #FFDDDD;
}
.sideprofile h1{
	font-size: 16px !important;
	margin-bottom: 0;
}
.sideprofile p{
	font-size: 15px;
	margin: 3px;
	color: #000000;
}
.sideprofile img{
	width: 70%;
	margin-bottom: 10px;
}

/*-----------------目次----------------------*/
.mokuji{
	text-align: right;	
}

.mokuji a:hover{
	background-color:#E4E4E4;
	border-radius: 20px 0 0 20px;
	padding-left: 20px;
}
.mokuji h2{
	font-size: 16px;
	display: inline-block;
	border-radius: 20px 0 0 20px;
	color: #ffffff;
	padding-left: 20px;
	border: none;
	text-shadow: none;
	background-color: #FFCBCC;
}
.mokuji h2:hover{
	background-color:#E4E4E4;
	padding:0;
}
.mokuji p{
	font-size: 13px;
	line-height: 25px;
}

/*ーーーブログの下の案内始まりーーー*/
.blogbottom{
	height:350px;
	clear: both;
	margin: 0;
}
.blogbottom_content img{
	width: 100%;
}
.blogbottom_content:hover{
	transform: translateY(-5px);
	transition-duration: .5s;
}
.blogbottom_content{
	width: 265px;
	height:200px;
	float:left;
	border: 1px solid;
	padding: 20px;
	background-color: #F8F8F4;
	margin: 30px 20px 0px 40px;
}
@media screen and (max-width:599px){
	.blogbottom_content{
		margin:0 atuo;
	}
}
.blogbottom p{
	text-align: center;
	margin-top: 10px;
	}